body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.header, .marketing, .footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

.header {
    padding-bottom: 1.5rem;
}

.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

